html {
    height: 100%;
    /* display: flex; */
    /* align-items: center; */
}

body {
    min-height: 100%;
    background-color: burlywood;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center; 
}

.weather-card-container {
    background-color: white;
    min-height: 83vh;
    max-width: 180vh;
    display: grid;
    grid-template-rows: 2fr 1.2fr;
    
}

.top-half {
    display: grid;
    grid-template-columns: 3.5fr 1fr;
    padding: 0px 15px;
    padding-top: 15px;
}

.current-weather-card {
    grid-column: 1;
    /* background-image: url('./imgs/overcast.jpg'); */
}

.current-information {
    margin-left: 40px;
    margin-top: 40px;
    /* color: white; */
}


.days-forecast-container {
    grid-column: 2;
}





.bottom-half {
    width: 100%;
    overflow: hidden;
}

.forecast-hour-header {
    margin: 10px 10px ;

}

.forecast-container {
    display: flex;
    min-width: 100%;
    background-color: rgb(223, 247, 247);
    height: 170px;
    overflow-x: auto;
    margin:  0px 15px;

}

.forecast-box {
    min-height: 80px;
    min-width: 100px;
    background-color: lightsalmon;
    margin: 10px;
}

.forecast-icon {
    height: 50px;
    width: 50px;
}