body {
    background-color: burlywood;
}

.weather-card-container {
    background-color: white;
    min-height: 83vh;
    max-width: 200vh;
    display: grid;
    grid-template-rows: 2fr 1.2fr;
    
}

.top-half {

}

.bottom-half {
    width: 100%;
}

.forecast-container {
    display: flex;
    background-color: rgb(223, 247, 247);
    height: 170px;

}

.forecast-box {
    height: 80px;
    background-color: lightsalmon;
    margin: 10px;
}