body {
    background-color: burlywood;
}

.weather-card-container {
    background-color: white;
    min-height: 80vh;
    max-width: 200vh;
    display: grid;
    grid-template-rows: 2fr 1fr;
    
}

.top-half {

}

.bottom-half {

}